# Python Fandamental

## 1[a] Hello world

In [1]:
print("Welcome to python Session")

Welcome to python Session

In [2]:
print("sonu says john's session is bad,Welcome")

sonu says john's session is bad,Welcome

In [3]:
print("""sonu replied, "john's session is bad".Welcome""")

sonu replied, "john's session is bad".Welcome

## 1[b]Create a variable

In [4]:
Friends=["Aishu","banno","harsha","hrutu","sayali"]
#LHS-Variable
#RHS-values
#In Python,index number always start from 0.

In [5]:
len(Friends)

5

In [6]:
Friends[2]

'harsha'

In [7]:
Friends[:3]

['Aishu', 'banno', 'harsha']

In [8]:
Friends[2:]

['harsha', 'hrutu', 'sayali']

In [9]:
g='Department of Statistic'

In [10]:
g[7:11]

'ent '

In [11]:
g[:11]

'Department '

In [12]:
g[2::4]

'pm Sic'

In [13]:
g[2:11:2]

'prmn '

In [14]:
g[2::2]

'prmn fSaitc'

In [15]:
g[::3]

'Damtftii'

In [16]:
a="I am sayali kashid"

In [17]:
a.capitalize()

'I am sayali kashid'

In [18]:
import pandas
pandas.__version__

'1.4.2'

In [19]:
import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [20]:
fname='sayali'
lname='kashid'
age='24'
print("my name is",fname,lname,"and I am of",age,"years age")

my name is sayali kashid and I am of 24 years age

In [21]:
a="my name is sayali kashid and I am of 24 years age"

In [22]:
a.capitalize()

'My name is sayali kashid and i am of 24 years age'

In [23]:
a.upper()

'MY NAME IS SAYALI KASHID AND I AM OF 24 YEARS AGE'

In [24]:
a.lower()

'my name is sayali kashid and i am of 24 years age'

In [25]:
a.title()

'My Name Is Sayali Kashid And I Am Of 24 Years Age'

In [26]:
a.casefold()

'my name is sayali kashid and i am of 24 years age'

In [27]:
#separate the text
a.split()

['my',
 'name',
 'is',
 'sayali',
 'kashid',
 'and',
 'I',
 'am',
 'of',
 '24',
 'years',
 'age']

In [28]:
type(a.split())

list

In [29]:
#add space in between each other
" ".join(a)

'm y   n a m e   i s   s a y a l i   k a s h i d   a n d   I   a m   o f   2 4   y e a r s   a g e'

# Lists
##use square brackets[]
#mutable

In [30]:
x1=[25,"sayali","G",50]
x2=[67,89,"statistics"]
print(x1)
print(x2)

[25, 'sayali', 'G', 50]
[67, 89, 'statistics']

In [31]:
type(x1)

list

In [32]:
x1+x2

[25, 'sayali', 'G', 50, 67, 89, 'statistics']

In [33]:
x1*3

[25, 'sayali', 'G', 50, 25, 'sayali', 'G', 50, 25, 'sayali', 'G', 50]

In [34]:
x1[-1]

50

In [35]:
x1[::2]

[25, 'G']

In [36]:
x1.append("kashid")
x1

[25, 'sayali', 'G', 50, 'kashid']

In [37]:
s=x1.copy()
s

[25, 'sayali', 'G', 50, 'kashid']

In [38]:
x1.count('sayali')

1

In [39]:
# insert fun
x1.insert(5,"student")
print(x1)

[25, 'sayali', 'G', 50, 'kashid', 'student']

In [40]:
#remove element position
x1.pop(2)
x1

[25, 'sayali', 50, 'kashid', 'student']

In [41]:
x1.pop()
x1

[25, 'sayali', 50, 'kashid']

In [42]:
#remove elelment
x1.remove(25)
x1

['sayali', 50, 'kashid']

In [43]:
x1.reverse()
x1

['kashid', 50, 'sayali']

In [44]:
v1=[20,10,78,45]
v1.sort()

v1

[10, 20, 45, 78]

In [45]:
v1.clear()
v1

[]

# Tuples
###closed bracket,immutable

In [46]:
b1=(25,'JK','V',22.8)
b1

(25, 'JK', 'V', 22.8)

In [47]:
b1.count("JK")

1

In [48]:
d={"v":30,"jk":1,"jin":12,"jimin":13}
print(d)
type(d)

{'v': 30, 'jk': 1, 'jin': 12, 'jimin': 13}

dict

In [49]:
d['v']

30

In [50]:
d={"v":30,"jk":1,"jin":12,"jimin":13}
del d["jk"]
print(d)

{'v': 30, 'jin': 12, 'jimin': 13}

In [51]:
len(d)

3

In [52]:
x={"v","jk","jin","RM","suga","jimin","jhope"}
x

{'RM', 'jhope', 'jimin', 'jin', 'jk', 'suga', 'v'}

In [53]:
type(x)

set

In [54]:
x.add("BTS")
x

{'BTS', 'RM', 'jhope', 'jimin', 'jin', 'jk', 'suga', 'v'}

In [55]:
for i in range(6) :
    print(i)
    print(i**2)
print("end of the loop")

0
0
1
1
2
4
3
9
4
16
5
25
end of the loop

In [56]:
for i in range(6) :
    print(i)
    print(i*2)
print("end of the loop")

0
0
1
2
2
4
3
6
4
8
5
10
end of the loop

In [57]:
x = range(-5,6)
print(x)
for n in x :
    print(n)

range(-5, 6)
-5
-4
-3
-2
-1
0
1
2
3
4
5

In [58]:
x = range(0,6,2)
print(x)
for n in x :
    print(n)

range(0, 6, 2)
0
2
4

In [59]:
x=input("enter a number")

KeyboardInterrupt

In [60]:
num = -3

if num >= 0:
    print("positive or zero")
else:
    print("negative number")

negative number

In [61]:
x=10

if x%2==0:
    print(x,"is a even number")
else:
    print(x,"is a odd number")

10 is a even number

In [62]:
int=45

if int >= 50:
    print("low")
else:
    print("high")

high

In [63]:
 num=-5
    
if num > 0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

negative

In [64]:
a=float(input("enter a num:"))

enter a num:25

# Loop

In [65]:
Numbers1=[10,12,14,16,18,20,22,24,26,28]
output=[]
for i in Numbers1:
    if i%2==0:
        print(i)
        output.append(i)
print(output)

10
12
14
16
18
20
22
24
26
28
[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [66]:
Numbers1=[15,20,36,35,38,59,75,82]
evnum=[]
t=0

for i in Numbers1:
    if i%2==0:
        print(i)
        evnum[t]=i
        t=t+1
print(output)

20

IndexError: list assignment index out of range

In [67]:
for i in range(-5,5):
    print(i,i*i)

-5 25
-4 16
-3 9
-2 4
-1 1
0 0
1 1
2 4
3 9
4 16

In [68]:
for name in "sayali":
    if name =="a":
        continue
    print(name)

s
y
l
i

In [ ]:
h="MAHI"

for i in h:
    print(i)

In [69]:
list = ["v","jk","jimin"]

for i in list:
    print(list)

['v', 'jk', 'jimin']
['v', 'jk', 'jimin']
['v', 'jk', 'jimin']

In [70]:
list = ["v","jk","jimin"]
 
for i in range(len(list)):
    print(list[i])

v
jk
jimin

In [71]:
fruits = ["apple","banana","chery","mango","kiwi"]
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [72]:
fruits = ["apple","banana","chery","mango","kiwi"]
newlist=[x for x in fruits if "a" in x]
newlist=[(x*2)for x in fruits if "a" in x]
newlist = [x.upper() for x in fruits]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'chery', 'mango', 'kiwi']

In [73]:
# newlist = [x for x in range(10)]
newlist = [x for x in range(10) if x <5]
newlist

[0, 1, 2, 3, 4]

# python function

In [ ]:
def fact(n):
    f=1
    for i in range (1,n+1):
        f*=1
    return(f)

In [ ]:
fact(5)

In [ ]:
def my_max(a,b):
    if a<=b:
        return(b)
    else:
        retutn(a)

In [ ]:
my_max(2,2)

In [ ]:
#fun greets all the person in the name tuple
def greet (*names):
    for name in names:
        print("hello",name)
greet("sayali","pooja","sonu","rosha","madhuri")

In [ ]:
def factorial(x):
    if x ==1:
        return 1
    else:
        return(x * factorial(x-1))

In [ ]:
factorial(3)

In [ ]:
num=10
print("The factorial of",num, "is",factorial(num))

In [ ]:
double = lambda x: x * 2
print(double(5))

In [ ]:
multi = lambda x,y:x * y
print(multi(3,2))

## 2[d] interact with user-input

In [ ]:
user_input = input("name")
print('first letter start with',user_input[0])

# numbers in python

In [ ]:
students_marks= input('enter your marks :')
print("marks is",(students_marks))

# functions and loops

In [ ]:
def get_details():
    print('welcome')
    print("Hello")

In [ ]:
 get_details()

In [ ]:
def get_numbers(name,age):
    print('Name-',name)
    print('age-',age)

In [ ]:
get_numbers('sayali',24)

In [ ]:
def get_employee_detailss(eid,ename,eage,org):
    print('employee id:',eid)
    print('employee name:',ename)
    print('employee age:',eage)
    print('workplace:',org)
get_employee_detailss(1,'jon',26,'IBM')

In [ ]:
get_employee_detailss(2,'tom',27,'Tech')

In [ ]:
get_employee_detailss(3,'jin',24,'HCL')

In [ ]:
get_employee_detailss(4,'jk',25,'Spark')

In [ ]:
get_employee_detailss(5,'jimin',30,'Info')

In [ ]:
for i in range(1,51,3):
     print(i)

# Numpy

In [ ]:
import numpy as np

In [ ]:
np.__version__

In [ ]:
dir(np)    #all function in np

In [ ]:
# integer array:
a=np.array([1, 4, 2, 5, 3])
a

In [ ]:
type(a)

In [ ]:
np.array([3.14, 4, 2, 3])

In [ ]:
x=np.array([1, 2, 3, 4], dtype='float32') #If we want to explicitly set the data type of resulting array
print(x)

In [ ]:
# nested lists multidimensional arrays
np.array([[1,2,3],
[4,5,6],
[7,8,9]])

In [ ]:
np.array([[10,40,7],[1,2,9]])

In [ ]:
x=np.array([
[[1,2,3],
[4,5,6],
[7,8,9]],
[[10,20,30],
[40,50,60],
[70,80,90]]
])
print(x)

In [ ]:
# Create a length-10 integer array filled with zeros
print(np.zeros(10, dtype=int))
print(np.zeros((2,4), dtype=int))
print(np.zeros((2,4,5), dtype=int))

In [ ]:
# Create a 3x1 floating-point array filled with 1s
a=np.ones(4)
print(a)
a=np.ones(4,dtype=int)
print(a)
a=np.ones((3, 1), dtype=float)
print(a)
a1=np.ones((3,2,4))
print(a1)
b=np.full((3, 2), 99)
print(b)

In [ ]:
list(range(0,10,2))

In [ ]:
#Create an array filled with a linear sequence
# Starting at 0, ending at 1, stepping by 0.1
# (this is similar to the built-in range() function)
np.arange(0, 1, 0.2) # simillar to seq command in R

In [ ]:
# Create an array of five values evenly spaced between 0 and 1
print(np.linspace(0, 1, 5))
print(np.linspace(1,100,100))

# random module

In [ ]:
# np.random.rand(d0, d1, ..., dn)
np.random.rand(10)

In [ ]:
np.random.rand(10,2)

In [ ]:
# np.random.randn(d0, d1, ..., dn)
np.random.randn(10)

In [ ]:
np.random.randn(3,4,2)

In [ ]:
#np.random.randint(low[, high, size, dtype])
# This function of random module is used to generate random integers from␣,→inclusive(low) to exclusive(high).

np.random.randint(2)

In [ ]:
np.random.randint(10,20,size=(3,2))

In [ ]:
np.random.random(5)

In [ ]:
#Create a 10x1 array of uniformly distributed
# random values between 0 and 1
np.random.random((1, 5))

In [ ]:
 #choice(a, size=None, replace=True, p=None) # similar to sample command in R
xx=np.array(["SDP","VMS","PVM"])
np.random.choice(xx, (10,3), 1)

In [ ]:
xx=np.array(["SDP","VMS","PVM"])
np.random.choice(xx, 10, 1, p=(0.9,0.05,0.05))

In [ ]:
xx=np.array(["SDP","VMS","PVM"])
print(xx)
print(np.random.permutation(xx))
print(xx)

In [ ]:
xx=np.array(["SDP","VMS","PVM"])
print(np.random.shuffle(xx))
print(xx)

In [ ]:
# binomial(n, p[, size])
n, p = 10, .6
s1= np.random.binomial(n, p, 10)
s1

In [ ]:
n, p = 10, .6
s1= np.random.binomial(n, p, (10,3))
s1

In [ ]:
#np.random.chisquare(df[, size])
np.random.chisquare(2,10)

In [ ]:
# np.random.exponential([scale, size])
np.random.exponential(2,5)

In [ ]:
#f(dfnum, dfden[, size])
#gamma(shape[, scale, size])
#geometric(p[, size])
#hypergeometric(ngood, nbad, nsample[, size])
#laplace([loc, scale, size])
#logistic([loc, scale, size])
#lognormal([mean, sigma, size])
#multinomial(n, pvals[, size])
#multivariate_normal(mean, cov[, size, ...)
#negative_binomial(n, p[, size])
#normal([loc, scale, size])
#pareto(a[, size])
#rayleigh([scale, size])
#standard_cauchy([size])
#standard_exponential([size])
#standard_gamma([size])
#standard_normal([size])
#standard_t(df[, size])

In [ ]:
print(np.random.normal())
print(np.random.normal(0, 1, 10),'\n')

In [ ]:
np.random.normal(10,1,(2,5))

In [ ]:
xx=np.array(["SDP","VMS","PVM"])
xx.dtype

In [ ]:
from numpy.random import choice
choice(xx, 10, 1)

In [ ]:
#importing in another way
from numpy.random import choice as ch
ch(xx, 10, 1)

In [ ]:
a=ch
a(xx, 10, 1)

In [ ]:
# Create a 10x1 array of random integers in the interval [0, 100)
print(np.random.randint(0, 100),'\n')
print(np.random.randint(100),'\n')
print(np.random.randint(0, 100, (10, 1)),'\n')
print(np.random.randint(100,size=(10,2)),'\n')

In [ ]:
#Create a 3x3 identity matrix
np.eye(3)

In [ ]:
np.random.seed(0) # seed for reproducibility
x1 = np.random.randint(10, size=10) # One-dimensional array
x2 = np.random.randint(10, size=(3, 8)) # Two-dimensional array
x3 = np.random.randint(10, size=(2, 4, 7)) # Three-dimensional array
print(x1)
print(x2)
print(x3)

In [ ]:
print("x1 ndim: ", x1.ndim)
print("x2 ndim: ", x2.ndim)
print("x2 shape:", x2.shape) #shape of array 3*8
print("x3 size: ", x3.size) #total no. of elements
print("dtype:", x3.dtype) #for data type
print("itemsize:", x1.itemsize, "bytes") #meomery size in byte of each element in array
print("nbytes:", x1.nbytes, "bytes") # total meomery size of array

In [ ]:
print(x1)
print(x1[0])
print("length of x1:",len(x1))
print(x1[10])

In [ ]:
print(x1[9])
x1[-1] #To index from the end of the array, you can use negative indices

In [ ]:
#In a multidimensional array, you access items using a comma-separated tuple of indices
print(x2)
print(x2[0, 0])
# modification in array
x2[0, 0] = 12
print(x2)

In [ ]:
x2[0,0] = 3.14159 # this will be truncated!
x2

In [ ]:
import numpy as np
x= np.arange(10)
x

In [ ]:
print(x[:5]) # first five elements
print(x[5:]) # elements after index 5
print(x[4:7]) # middle subarray
print(x[::2]) # every other element
print(x[1::2]) # every other element, starting at index 1
print(x[0::2]) # even numbers

In [ ]:
print(x[::-1]) # all elements, reversed
print(x[5::-2] ) # reversed every other from index 5
print(x[5::2] )

In [ ]:
x2 = ([[3 6 8 8 1 6 7 7],
[8 1 5 9 8 9 4 3],
[0 3 5 0 2 3 8 1]])
print(x2)

In [ ]:
x2 = np.random.randint(10, size=(3, 8)) # Two-dimensional array
print(x2)
x2_sub = x2[:2, :2]
print(x2_sub)
x2_sub[0, 0] = 99
print(x2_sub)

In [ ]:
print(x2)

In [ ]:
x2_sub_copy = x2[:2, :2].copy()
print(x2_sub_copy)
x2_sub_copy[0, 0] = 42
print(x2_sub_copy)
print(x2)

In [ ]:
a=np.arange(1, 10)
print(a)
b=a.reshape((3, 3))
print(b)

In [ ]:
x = np.array([1, 2, 3])
# row vector via reshape
print(x.reshape((1, 3)))
print(x)
print(x.shape)

In [ ]:
# column vector via newaxis
print(x[:, np.newaxis])
x.shape

In [ ]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
np.concatenate([x, y])

In [ ]:
grid = np.array([[1, 2, 3],
[4, 5, 6]])
print(grid)
#concatenate along the first axis
np.concatenate([grid, grid])

In [ ]:
# horizontally stack the arrays
y = np.array([[99],
[99]])
np.hstack([grid, y])

In [ ]:
x = [1, 2, 3, 99, 99, 3, 2, 1]
x1, x2, x3 = np.split(x, [3, 5])
print(x1, x2, x3)

In [ ]:
grid = np.arange(16).reshape((4, 4))
print(grid)
upper, lower = np.vsplit(grid, [2])
print("upper\n",upper)
print("lower\n",lower)
left, right = np.hsplit(grid, [2])
print("left\n",left)
print("right\n",right)

In [ ]:
#The Slowness of Loops
np.random.seed(0)
def compute_reciprocals(values):
    output = np.empty(len(values))
    for i in range(len(values)):
        output[i] = 1.0 / values[i]
    return output
values = np.random.randint(1, 10, size=5)
print(compute_reciprocals(values))
%timeit compute_reciprocals(values)

In [ ]:
print(1.0 / values)
%timeit (1.0 / values)

In [ ]:
x = np.arange(4)
print(x)
print("x + 5 =", x + 5)
print("x // 2 =", x // 2) # floor division

In [ ]:
x = np.arange(4)
print(x)
print(np.add(x, 2))
x = np.array([-2, -1, 0, 1, 2])
np.absolute(x)

In [ ]:
print(Out)

In [ ]:
#Exponents and logarithms
x = [1, 2, 3]
print("x =", x)
print("e^x =", np.exp(x))
print("2^x =", np.exp2(x))
print("3^x =", np.power(3, x))
print("3^x =", np.power(x, 3))
print("ln(x) =", np.log(x))
print("log2(x) =", np.log2(x))
print("log10(x) =", np.log10(x))

In [ ]:
x = np.arange(1, 6)
print(x)
print(np.add.reduce(x))
print(np.sum(x))
print(np.multiply.reduce(x))
print(np.cumsum(x)) # for cumsum
print(np.cumprod(x)) #for cumulative product

In [ ]:
#Outer products
x = np.arange(1, 6)
print(x)
print(np.multiply.outer(x, x))
print(np.add.outer(x, x))

In [ ]:
a = np.array([0, 1, 2])
b = np.array([5, 5, 5])
a + b

In [ ]:
a+5

In [ ]:
M = np.ones((3, 3))
print(M)
print('\n ans\n',M + a)

In [ ]:
a = np.arange(3)
b = np.arange(3)[:, np.newaxis]
print(a)
print(b)

In [ ]:
a+b

In [ ]:
 #example
M = np.ones((2, 3))
a = np.arange(3)
M + a

In [ ]:
x = np.array([1, 2, 3, 4, 5])
x < 3 # less than

In [ ]:
(2 * x) == (x ** 2)

In [ ]:
2 * x

In [ ]:
x ** 2

In [ ]:
(2 * x) == 4

In [ ]:
# how many values less than 6?
x = np.array([1, 2, 3, 4, 5,7,9,2])
print(np.count_nonzero(x < 6))
print(np.sum(x < 6))

In [ ]:
# are there any values greater than 8?
np.any(x > 8)

In [ ]:
# are there any values less than zero?
np.any(x < 0)

In [ ]:
x = np.array([1, 2, 3, 4, 5,7,9,2])
np.sum((x> 3) & (x < 7))

In [ ]:
x[x<5]

In [ ]:
x = np.random.randint(100, size=10)
print(x)
[ x[3], x[7], x[2] ]

In [ ]:
#fancy index
ind = [3, 7, 2]
x[ind]

In [ ]:
X = np.arange(12).reshape((3, 4))
print(X)
row = np.array([0, 1, 2])
col = np.array([2, 1, 3])
X[row, col]

In [ ]:
x = np.arange(10)
print(x)
i = np.array([2, 1, 8, 4])
x[i] = 99
print(x)
x[i] -= 10
print(x)

In [ ]:
x = np.array([2, 1, 4, 3, 5])
print(x)
print(np.sort(x)) # Sort in ascending order
print(np.sort(x)[::-1]) # Sort in descending order

In [ ]:
x=np.array([20,10,30])
print(x)
print(np.argsort(x))

In [ ]:
X = np.random.randint(0, 10, (4, 6))
print(X)
print(np.sort(X))

In [ ]:
X = np.random.randint(0, 10, (4, 6))
print(X)
print(np.sort(X, axis=0)) # sort each column of X
print(np.sort(X, axis=1))

In [ ]:
X = np.random.randint(0, 10, (4, 6))
print(X)
print(np.sort(X))
print(np.sort(X, axis=1))

In [ ]:
X = np.random.randint(0, 10, (4, 6))
print(X)
print(X[:, 1])
print(X[:, 1].argsort())
print(X[ X[:, 1].argsort() ])
print(X[:,X[2, :].argsort()])

In [ ]:
name = ['Ram', 'Shyam', 'Seeta', 'Geeta']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

In [ ]:
#Use a compound data type for structured arrays
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
'formats':('U10', 'i4', 'f8')})
print(data)
data['name'] = name
data['age'] = age
data['weight'] = weight
print(data)

In [ ]:
# Get all names
print(data['name'])
print(data[0])
# Get names where age is under 30
print(data[data['age'] < 30])
print(data[data['age'] < 30]['name'])

In [ ]:
np.sort(data,order=['age'])

In [ ]:
np.dtype('S10,i4,f8')

In [ ]:
## n random observation from B(p)
n=10
p=0.3
x=np.empty(n)
for i in range(n):
    u=np.random.random()
if u<p:
    x[i]=1
else:
    x[i]=0
x

In [ ]:
## m random observation from B(n,p)
m=20 # sample size
n=10
p=0.5
x=np.zeros(m)
for j in range(m):
    for i in range(n):
        u=np.random.random()
    if u<p:
        x[j]=x[j]+1
x

In [ ]:
## single observation from P(lm)
x=-1
lm=0.5
p=1
a=np.exp(-lm)
while p>a:
     u=np.random.random()
     p*=u
     x+=1
x

# pandas

In [ ]:
import pandas
pandas.__version__

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.Series ([10,20,30,40,50])
data

In [ ]:
type(data)

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
data[0]

In [ ]:
data[1:3]

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['a']

In [ ]:
# We can even use noncontiguous or nonsequential indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

In [ ]:
data[2]

In [ ]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York':19651127, 'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
population['California']

In [ ]:
population['California':'Florida']

In [ ]:
pd.Series(5, index=[100, 200, 300])

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}) # data can be a dictionary, in which index defaults to the sorted dictionary keys

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

In [ ]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York':19651127, 'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
area_dict = { 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois':149995,'California': 423967,}
area = pd.Series(area_dict)
area

In [ ]:
states = pd.DataFrame({'population': population, 'area': area})
states

In [ ]:
type(states)

In [ ]:
states.index

In [ ]:
states.columns

In [ ]:
states['area']

In [ ]:
#From a single Series object.
pd.DataFrame(population, columns=['population'])

In [ ]:
# From a list of dicts
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

In [ ]:
#From a dictionary of Series objects
pd.DataFrame({'population': population, 'area': area})

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

In [ ]:
ind[1]

In [ ]:
ind[::2]

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB   #intersection

In [ ]:
indA | indB # union

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])
data

In [ ]:
data['b']

In [ ]:
data[2]

In [ ]:
'a' in data

In [ ]:
data.keys()

In [ ]:
list(data.items())

In [ ]:
data['e']=1.25
data

In [ ]:
# slicing by explicit index
data['a':'c']

In [ ]:
# slicing by implicit integer index
data[0:2]

In [ ]:
data
data[(data>0.3) & (data<0.8)]

In [ ]:
# fancy indexing
data[ ['a', 'e'] ]

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

In [ ]:
# explicit index when indexing
data[1]

In [ ]:
# implicit index when slicing
data[1:3]

In [ ]:
data

In [ ]:
data.loc[1]

In [ ]:
data.loc[1:3]

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[1:3]

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])
df

In [ ]:
 np.exp(ser)

In [ ]:
A = rng.randint(10, size=(3, 4))
A

In [ ]:
df = pd.DataFrame(A, columns=list('QRST'))
df

In [ ]:
df - df.iloc[0]

In [ ]:
df.subtract(df['R'], axis=0)

In [ ]:
df

In [ ]:
halfrow = df.iloc[0, ::2]
halfrow

# Handling Missing Data

In [ ]:
vals2 = np.array([1, np.nan, 3, 4])    #nan missing data
vals2.dtype

In [ ]:
1+np.nan

In [ ]:
0 * np.nan

In [ ]:
vals2.sum(), vals2.min(), vals2.max()

In [ ]:
pd.Series([1, np.nan, 2, None])

In [ ]:
x = pd.Series(range(2), dtype=int)
x

In [ ]:
x[0] = None
x

In [ ]:
#Detecting null values
data = pd.Series([1, np.nan, 'hello', None])
data

In [ ]:
data.isnull()   #isnull() Generate a Boolean mask indicating missing values

In [ ]:
data.notnull()   #notnull() Opposite of isnull()

In [ ]:
data[data.notnull()]

In [ ]:
data.dropna()   #Return a filtered version of the data    #dropna() will drop all rows in which any null value is present

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],[2, 3, 5],[np.nan, 4, 6]])
df

In [ ]:
df.dropna(axis='columns')

In [ ]:
df

In [ ]:
df[3]=np.nan
df

In [ ]:
df.dropna(axis='columns', how='all')

In [ ]:
df.dropna(axis='columns', how='any')

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

In [ ]:
data.fillna(0)    # Return a copy of the data with missing values filled or imputed

In [ ]:
# forward-fill
data.fillna(method='ffill')   # forward-fill

In [ ]:
# back-fill
data.fillna(method='bfill')

In [ ]:
df

In [ ]:
df.fillna(999)

In [ ]:
df.fillna(method='ffill', axis=1)

In [ ]:
 df.fillna(method='bfill', axis=1)

# Combining Datasets: Concat and Append

In [ ]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

In [ ]:
cols=list('ABC')
ind=range(3)
{c: [str(c) + str(i) for i in ind] for c in cols}

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

In [ ]:
x = [[1, 2],[3, 4]]
np.concatenate([x, x], axis=0)

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

In [ ]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1)
print(df2)
print(pd.concat([df1, df2]))

In [ ]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3)
print(df4)
print(pd.concat([df3, df4], axis='columns')) # axis=1

In [ ]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index # make duplicate indices!
print(x); print(y); print(pd.concat([x, y]))

In [ ]:
df5 = make_df('ABC',[1, 2])     #Concatenation with joins
df6 = make_df('BCD',[3, 4])
print(df5)
print(df6)
print(pd.concat([df5, df6]))

In [ ]:
print(df5); print(df6);
print(pd.concat([df5, df6], join='inner'))

In [ ]:
print(df5)
print(df6)
print(pd.concat([df5, df6],join_axes=[df5.columns]))

In [ ]:
print(df5)
print(df6)
print(pd.concat([df5, df6], join_axes=[df6.columns]))

In [ ]:
print(df1)      #The append() method
print(df2)
print(df1.append(df2))

In [ ]:
df1

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 'group':['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'], 'hire_date':[2004, 2008, 2012, 2014]})
print(df1); print(df2)

In [ ]:
df3 = pd.merge(df1, df2)
df3

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],'supervisor':['Carly', 'Guido', 'Steve']})
print(df3); print(df4); print(pd.merge(df3, df4))

In [ ]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting','Engineering''Engineering', 'HR', 'HR'],
'skills': ['math', 'spreadsheets', 'coding''linux','spreadsheets', 'organization']})
print(df1); print(df5); print(pd.merge(df1, df5))

In [ ]:
# on keyword
print(df1); print(df2); print(pd.merge(df1, df2, on='employee'))

In [ ]:
#The left_on and right_on keywords
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'salary': [70000,80000, 120000, 90000]})
print(df1); print(df3);
print(pd.merge(df1, df3, left_on="employee", right_on="name"))#The left_on and right_on keywords
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'salary': [70000,80000, 120000, 90000]})
print(df1); print(df3);
print(pd.merge(df1, df3, left_on="employee", right_on="name"))

In [ ]:
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

In [ ]:
# The left_index and right_index keywords
# Sometimes, rather than merging on a column, you would instead like to merge on an index.
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
print(df1a)
print(df2a)
print(pd.merge(df1a, df2a, left_index=True, right_index=True))

In [ ]:
# For convenience, DataFrames implement the join() method, which performs a merge that defaults to joining on indices
print(df1a)
print(df2a)
print(df1a.join(df2a))

In [ ]:
print(df1a); print(df3);
print(pd.merge(df1a, df3, left_index=True, right_on='name'))

In [ ]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],'food': ['fish', 'beans','bread']},columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],'drink': ['wine','beer']},columns=['name', 'drink'])
print(df6); print(df7); print(pd.merge(df6, df7))

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/slmsshk/DataSet/main/Salaries.csv')
df

In [ ]:
type(df)

In [ ]:
df.head()

In [ ]:
df.head(5)

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.mean()

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.std()

In [ ]:
import seaborn as sns

In [ ]:
planets = sns.load_dataset('planets')
planets.shape

In [ ]:
planets.head()

In [ ]:
planets.dropna().describe()

In [ ]:
planets.count()

In [ ]:
planets.var()

# GroupBy: Split, Apply, Combin

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data': range(6)},columns=['key', 'data'])
df

In [ ]:
df.groupby('key')

In [ ]:
df

In [ ]:
df.groupby('key').sum()

In [ ]:
df.groupby('key').mean()

In [ ]:
planets.head()

In [ ]:
planets.groupby('method')

In [ ]:
planets.groupby('method')['orbital_period']

In [ ]:
planets.groupby('method').median()

In [ ]:
planets.groupby('method')['orbital_period'].median()

In [ ]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

In [ ]:
planets.groupby('method')['distance'].describe()

In [ ]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data1': range(6),'data2': rng.randint(0, 10, 6)}, columns = ['key', 'data1', 'data2'])
df

# Aggregation

In [ ]:
df.groupby('key').aggregate(['min', np.median, max])

In [ ]:
df.groupby('key').aggregate({'data1': 'min', 'data2': 'max'})

In [ ]:
df.groupby('key').aggregate({'data1': ['min','max'], 'data2': 'max'})

# Filtering

In [ ]:
def filter_func(x):
    return x['data2'].std() > 4

print(df);
print(df.groupby('key').std())
print(df.groupby('key').filter(filter_func))

In [ ]:
df.groupby('key').transform(lambda x: x - x.mean())

In [ ]:
def norm_by_data2(x):
    # x is a DataFrame of group values
    x['data1'] /= x['data2'].sum()
    return x

print(df)

print(df.groupby('key').apply(norm_by_data2))

In [ ]:
L = [0, 1, 0, 1, 2, 0]
print(df)
print(df.groupby(L).sum())

In [ ]:
print(df)
print(df.groupby(df['key']).sum())

In [ ]:
df2 = df.set_index('key')
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
print(df2)
print(df2.groupby(mapping).sum())

In [ ]:
print(df2)
print(df2.groupby(str.lower).mean())

In [ ]:
df2.groupby([str.lower, mapping]).mean()

In [ ]:
decade = 10 * (planets['year'] // 10)
decade

# Pivot Tables

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
titanic.groupby('sex')[['survived']].mean()

In [ ]:
titanic.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

In [ ]:
titanic.pivot_table('survived', index='sex', columns='class')

In [ ]:
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class')

# Matplotlib

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
ax = plt.subplot() # Create a figure containing a single axes.
ax.plot([1, 2, 3, 4], [1, 4, 2, 3]) # Plot some data on the axes.

In [ ]:
fig, ax = plt.subplots() # Create a figure containing a single axes.
ax.plot([1, 2, 3, 4], [1, 4, 2, 3]) # Plot some data on the axes.

In [ ]:
 plt.figure(figsize=(9, 4))
plt.plot([1, 2, 3, 4], [1, 4, 2, 3]) # Create a figure containing a single axes.

In [ ]:
fig = plt.figure() # an empty figure with no Axes
fig, ax = plt.subplots() # a figure with a single Axes
fig, axs = plt.subplots(2, 2) # a figure with a 2x2 grid of Axes

In [ ]:
##OO-style
x = np.linspace(0, 2, 100)
# Note that even in the OO-style, we use `.pyplot.figure` to create the figure.
fig, ax = plt.subplots() # Create a figure and an axes.
ax.plot(x, x, label='linear') # Plot some data on the axes.
ax.plot(x, x**2, label='quadratic') # Plot more data on the axes...
ax.plot(x, x**3, label='cubic') # ... and some more.
ax.set_xlabel('x label') # Add an x-label to the axes.
ax.set_ylabel('y label') # Add a y-label to the axes.
ax.set_title("Simple Plot") # Add a title to the axes.
ax.legend() # Add a legend.

In [ ]:
data1, data2, data3, data4 = np.random.randn(4, 100)
fig, ax = plt.subplots(1, 1)
ax.plot(data1,data2)

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2)
ax1.plot(data1, data2)
ax1.plot(data3, data4)
ax2.boxplot(data4)
ax2.hist(data4)

In [ ]:
x = np.arange(0, 5, 0.1)
y = np.sin(x)
plt.plot(x, y)

In [ ]:
plt.plot([1, 2, 3, 4])
plt.ylabel('some numbers')
plt.show()

In [ ]:
plt.plot([1, 2, 3, 4], [1, 4, 9, 16])

In [ ]:
x=[1, 2, 3, 4]
y=[1, 4, 9, 16]
z=[3,6,11,18]
plt.plot(x,y,color='green',label='Bill')
plt.plot(x,z,color='red',label='BBBB')
plt.legend()

In [ ]:
plt.plot([1, 2, 3, 4], [1, 4, 9, 16],color='green',marker='P',markersize=19,linewidth=5,linestyle='dashdot')

In [ ]:
x=["Satara","Sangli","Kolhapur"]
y=[20,10,30]
plt.bar(x,y)

In [ ]:
x=["Satara","Sangli","Kolhapur"]
y=[20,10,30]
plt.bar(x,y,width=0.1,edgecolor='r',color='g')

In [ ]:
x=[1,2,5]
y=[20,10,30]
plt.bar(x,y,width=0.8,edgecolor='r',color='g')

In [ ]:
X = ['Group A','Group B','Group C','Group D']
Ygirls = [10,20,20,40]
Zboys = [20,30,25,30]
X_axis = np.arange(len(X))
plt.bar(X_axis - 0.2, Ygirls, width=0.4, label = 'Girls')
plt.bar(X_axis + 0.2, Zboys, width=0.4, label = 'Boys')
plt.xticks(X_axis, X)
plt.xlabel("Groups")
plt.ylabel("Number of Students")
plt.title("Number of Students in each group")
plt.legend()
plt.show()

In [ ]:
x=["Satara","Sangli","Kolhapur"]
y=[20,10,30]
plt.barh(x,y)

In [ ]:
# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = 'Frogs', 'Hogs', 'Dogs', 'Logs'
sizes = [15, 30, 45, 10]
plt.pie(sizes, labels=labels)
plt.show()

In [ ]:
# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = 'Frogs', 'Hogs', 'Dogs', 'Logs'
sizes = [15, 30, 45, 10]
explode = (0, 0.1, 0.1, 0) # only "explode" the 2nd slice (i.e. 'Hogs')

fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',shadow=True,startangle=90)
ax1.axis('equal') # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()

In [ ]:
x=np.random.randn(1000)
plt.boxplot(x)
plt.show()